@font-face {
    font-family: 'Open Sans Italic';
    src: url('../Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Open Sans';
    src: url('../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'); /* Safari, Android, iOS */
}