/* @font-face {
  font-family: "Open Sans Italic";
  src: url("/assets/Open_Sans/OpenSans-Italic-VariableFont.ttf")
    format("truetype"); 
}
@font-face {
  font-family: "Open Sans";
  src: url("/assets/Open_Sans/OpenSans-VariableFont.ttf") format("truetype"); 
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
  --color-grey: #757575;
  --color-sky: #4A85F6;
  --color-blue: #EFF4FA;
  --color-prime: #222B45;
  --color-second: #8F9BB3;
  --color-solid: #404040;
}